* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  min-height: 100vh;
}

.header {
  text-align: center;
  font-size: 2rem;
  padding: 40px;
}

.flex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.product_title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  background-color: blanchedalmond;
  border-radius: 10px;
  /* border: 1px solid gray; */
  padding: 10px;
}

.product_introduction {
  max-width: 60%;
  text-align: center;
  font-size: 1.2rem;
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}

.product_container {
  align-content: center;
  justify-content: center;
  gap: 30px;
}

.product_img {
  width: 40%;
  height: auto;
  border-radius: 60px;
  background-color: blanchedalmond;
}

.product_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  /* text-decoration: underline; */
  background-color: blanchedalmond;
  border-radius: 10px;
  /* border: 1px solid gray; */
  padding: 20px;
}

.product_details-list__left {
  text-align: left;
  margin-left: 0.5rem;
}

.product_details-list__right {
  text-align: right;
}

.li_right {
  list-style: none;
}

.li_right::after {
  content: "•";
  margin-left: 0.5rem;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 20%;
  height: 60px;
}

/* Hyperlink that's styled to look like a button! */
.a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 140px;
  height: 60px;
  font-size: 1.5rem;
  background-color: dodgerblue;
  color: whitesmoke;
  border: 3px solid black;
  border-radius: 20px;
}

.a:hover {
  background-color: cornflowerblue;
}

.a:active {
  width: 75%;
  height: 55px;
  font-size: 1.4rem;
}

.footer {
  border-top: 2px solid gray;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  background-color: blanchedalmond;
}
