* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-color: cornflowerblue;
}

header {
  width: 100vw;
  height: 20vh;
  background-color: yellow;
}

.sidebar {
  width: 30%;
  height: 60vh;
  background-color: grey;
  display: inline-block;
}

.main-content {
  width: 69%;
  height: 60vh;
  background-color: orange;
  display: inline-block;
}

footer {
  width: 100vw;
  height: 20vh;
  background-color: pink;
}
