* {
  background-color: aliceblue;
}

.header-box {
  border: 1px solid black;
  margin: 4px 4px;
  padding: 12px 12px;
}

.content {
  display: flex;
}

.sidebar {
  border: 1px solid black;
  margin: 4px 4px;
  padding: 12px 12px;
  height: 400px;
  width: 20%;
}

.mainContent {
  border: 1px solid black;
  margin: 4px 4px;
  padding: 12px 12px;
  width: 80%;
}

.footer {
  border: 1px sol black;
  margin: 4px 4px;
  padding: 12px 12px;
}
